header {
    color: white;
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}


footer {
    grid-area: footer;
    color: black;
}

body {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "main main aside"
        "footer footer footer"
    ;
}

nav > ul > li {
    position: relative;
    width: 100%;
}

nav ul ul {
    position: absolute;
    background-color: pink;
    display: block;
    width: 100%;
    padding: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    pointer-events: none;
}

nav > ul > li:hover ul {
    opacity: 1;
    pointer-events: auto;
}

.on{
    display:none;
}

.off{
    display:none;
}

.shownav{
    display:none;
}

id{
    display: none;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

