* {
    margin: 0em;
    padding: 0em;

}

h1 {
    color: rgb(212, 72, 156);
    font-size: 3em;
    font-weight: normal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
}

h2 {
    color: #e68cca;
    font-size: 2em;
    font-weight: normal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    color: hotpink;
    text-decoration: none;
}

header {
    color: white;
    padding: 20px;
    grid-area: header;
    background-image: url('bannerweb.jpeg');
    background-size: contain;
}

nav {
    background-color: yellow;
    grid-area: nav;
    
}

main {
    background-color: darkblue;
    color: white;
    grid-area: main;
}